In [1]:
print('Hello from Jupyter')

Hello from Jupyter

In [4]:
my_string = 'hi .hello world'
my_int = 30

print(my_string)
print(my_int)

hi .hello world
30

In [5]:
my_string

'hi .hello world'

In [6]:
number_of_banana = 5

if number_of_banana < 1:
    print('You have no banana')
elif number_of_banana == 1:
    print('You have one banana')
elif number_of_banana < 4:
    print('You have a few banana')
else:
    print('You have many banana @@')

You have many banana!

In [7]:
student_names = ['Ali', 'alaa', 'yasser', 'ahmed']
student_names[1]

'alaa'

In [8]:
student_names[0]

'Ali'

In [9]:
student_names[-1]

'ahmed'

In [10]:
student_names[0:2]

['Ali', 'alaa']

In [11]:
student_names[1:3]

['alaa', 'yasser']

In [12]:
student_names[:2]

['Ali', 'alaa']

In [19]:
student_names.append('mostafa')
student_names

['Ali', 'alaa', 'yasser', 'ahmed', 'mostafa']

In [14]:
student_names.insert(2, 'noooooor')
student_names

['Ali', 'alaa', 'noooooor', 'yasser', 'ahmed', 'mostafa']

In [15]:
del student_names[2]
student_names

['Ali', 'alaa', 'yasser', 'ahmed', 'mostafa']

In [16]:
student_names.append('mohamed')
student_names.append('mohahmed')
student_names

['Ali', 'alaa', 'yasser', 'ahmed', 'mostafa', 'mohamed', 'mohahmed']

In [18]:
student_names = ['Ali', 'alaa', 'yasser', 'ahmed']

for student_name in student_names:
    print('hi , Hello ' + student_name + '||||')

hi , Hello Ali||||
hi , Hello alaa||||
hi , Hello yasser||||
hi , Hello ahmed||||

In [21]:

long_names = []
for student_name in student_names:
    if len(student_name) > 4:
        long_names.append(student_name)

long_names

['yasser', 'ahmed', 'mostafa']

In [24]:
student_names = ['Ali', 'alaa', 'yasser', 'ahmed']

student_pairs = []
for student_name_row in student_names:
    for student_name_col in student_names:
        student_pairs.append(
            (student_name_row, student_name_col)
        )

student_pairs

[('Ali', 'Ali'),
 ('Ali', 'alaa'),
 ('Ali', 'yasser'),
 ('Ali', 'ahmed'),
 ('alaa', 'Ali'),
 ('alaa', 'alaa'),
 ('alaa', 'yasser'),
 ('alaa', 'ahmed'),
 ('yasser', 'Ali'),
 ('yasser', 'alaa'),
 ('yasser', 'yasser'),
 ('yasser', 'ahmed'),
 ('ahmed', 'Ali'),
 ('ahmed', 'alaa'),
 ('ahmed', 'yasser'),
 ('ahmed', 'ahmed')]

In [25]:
student_pairs[0]

('Ali', 'Ali')

In [26]:
student_names = ['Ali', 'alaa', 'yasser', 'ahmed']

student_pairs = []
for student_name_0 in student_names:
    for student_name_1 in student_names:
        if student_name_0 != student_name_1:
            student_pairs.append(
                (student_name_0, student_name_1)
            )

student_pairs

[('Ali', 'alaa'),
 ('Ali', 'yasser'),
 ('Ali', 'ahmed'),
 ('alaa', 'Ali'),
 ('alaa', 'yasser'),
 ('alaa', 'ahmed'),
 ('yasser', 'Ali'),
 ('yasser', 'alaa'),
 ('yasser', 'ahmed'),
 ('ahmed', 'Ali'),
 ('ahmed', 'alaa'),
 ('ahmed', 'yasser')]

In [1]:
student_grade = ['mostafa', 'Spanish', 'A-']
student_grade

['mostafa', 'Spanish', 'A-']

In [7]:
student_grade[0]

'mostafa'

In [8]:
del student_grade[2]

In [9]:
student_grade[2] = 'C'

In [10]:
student_grade = ('Alice', 'Spanish', 'A-')
student_name, subject, grade = student_grade

print(student_name)
print(subject)
print(grade)

Alice
Spanish
A-

In [11]:
student_grades = [
    ('khaled', 'French', 'C'),
    ('atta', 'Italian', 'B+'),
    ('yasser', 'Spanish', 'A'),
    ('mohamed', 'Italian', 'A-'),
]

for student_name, subject, grade in student_grades:
    if grade.startswith('A'):
        print('Congratulations', student_name,
            'on getting an', grade,
            'in', subject)

Congratulations yasser on getting an A in Spanish
Congratulations mohamed on getting an A- in Italian

In [29]:
for student_grade in student_grades:
    if student_grade[2].startswith('A'):
        print('Congratulations', student_grade[0],
            'on getting an', student_grade[2],
            'in', student_grade[1])

Congratulations Alice on getting an A in Spanish
Congratulations Dave on getting an A- in Italian

In [15]:
foreign_languages = {
    'yasser': 'Spanish',
    'khaled': 'French',
    'mohamed': 'Italian',
    'atta': 'Italian',
}

In [16]:
foreign_languages['yasser']

'Spanish'

In [17]:
foreign_languages['atta']

'Italian'

In [18]:
'Zeke' in foreign_languages

False

In [34]:
'yasser' in foreign_languages

True

In [19]:
'Yasser' in foreign_languages

False

In [20]:
foreign_languages['omar'] = 'French'
foreign_languages

{'yasser': 'Spanish',
 'khaled': 'French',
 'mohamed': 'Italian',
 'atta': 'Italian',
 'omar': 'French'}

In [21]:
del foreign_languages['atta']
foreign_languages

{'yasser': 'Spanish',
 'khaled': 'French',
 'mohamed': 'Italian',
 'omar': 'French'}

In [22]:
foreign_languages['Esther'] = 'Italian'
foreign_languages

{'yasser': 'Spanish',
 'khaled': 'French',
 'mohamed': 'Italian',
 'omar': 'French',
 'Esther': 'Italian'}

In [23]:
for key in foreign_languages:
    value = foreign_languages[key]
    print(key, 'is taking', value)

yasser is taking Spanish
khaled is taking French
mohamed is taking Italian
omar is taking French
Esther is taking Italian

In [24]:
for key, value in foreign_languages.items():
    print(key, 'is taking', value)

yasser is taking Spanish
khaled is taking French
mohamed is taking Italian
omar is taking French
Esther is taking Italian

In [25]:
student_grade = ('Alice', 'Spanish', 'A')

In [26]:
student_name, subject, grade = student_grades[0]
print(student_name, 'got a grade of', grade, 'in', subject)

khaled got a grade of C in French

In [27]:
record = {
    'name': 'Alice',
    'subject': 'Spanish',
    'grade': 'A',
}
print(record['name'],
      'got a grade of', record['grade'],
      'in', record['subject'])

Alice got a grade of A in Spanish

In [29]:
student_grades = [
    ('noooor', 'Spanish', 'A'),
    ('hatem', 'French', 'C'),
    ('rehab', 'Italian', 'B+'),
    ('marem', 'Italian', 'A-'),
]

In [30]:
student_grades[1]

('hatem', 'French', 'C')

In [31]:
student_grades[1][2]

'C'

In [32]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)

student_grade_records

[{'name': 'noooor', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'hatem', 'subject': 'French', 'grade': 'C'},
 {'name': 'rehab', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'marem', 'subject': 'Italian', 'grade': 'A-'}]

In [33]:
student_grade_records[1]

{'name': 'hatem', 'subject': 'French', 'grade': 'C'}

In [34]:
student_grade_records[1]['grade']

'C'

In [35]:
for record in student_grade_records:
    if record['grade'].startswith('A'):
        print('Congratulations', record['name'],
              'on getting an', record['grade'],
              'in', record['subject'])

Congratulations noooor on getting an A in Spanish
Congratulations marem on getting an A- in Italian

In [45]:
foreign_language_grades = {}
for student_name, subject, grade in student_grades:
    record = {
        'subject': subject,
        'grade': grade,
    }
    foreign_language_grades[student_name] = record

foreign_language_grades

{'noooor': {'subject': 'Spanish', 'grade': 'A'},
 'hatem': {'subject': 'French', 'grade': 'C'},
 'rehab': {'subject': 'Italian', 'grade': 'B+'},
 'marem': {'subject': 'Italian', 'grade': 'A-'}}

In [46]:
foreign_language_grades['noooor']

{'subject': 'Spanish', 'grade': 'A'}

In [47]:
foreign_language_grades['noooor']['grade']

'A'

In [58]:
student_course_grades = {}
for student_name, subject, grade in student_grades:
    student_course_grades[student_name, subject] = grade

student_course_grades

{('noooor', 'Spanish'): 'A',
 ('hatem', 'French'): 'C',
 ('rehab', 'Italian'): 'B+',
 ('marem', 'Italian'): 'A-'}

In [59]:
student_course_grades['yasser', 'Math'] = 'A'
student_course_grades['omar', 'History'] = 'B'

In [60]:
student_course_grades

{('noooor', 'Spanish'): 'A',
 ('hatem', 'French'): 'C',
 ('rehab', 'Italian'): 'B+',
 ('marem', 'Italian'): 'A-',
 ('yasser', 'Math'): 'A',
 ('omar', 'History'): 'B'}

In [61]:
student_report_cards = {}
for student_name, subject, grade in student_grades:
    if student_name not in student_report_cards:
        student_report_cards[student_name] = {}
    student_report_cards[student_name][subject] = grade

In [62]:
student_report_cards

{'noooor': {'Spanish': 'A'},
 'hatem': {'French': 'C'},
 'rehab': {'Italian': 'B+'},
 'marem': {'Italian': 'A-'}}

In [64]:
student_report_cards

{'noooor': {'Spanish': 'A'},
 'hatem': {'French': 'C'},
 'rehab': {'Italian': 'B+'},
 'marem': {'Italian': 'A-'}}

In [66]:
student_report_cards['noooor']

{'Spanish': 'A'}